body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'sans-serif';
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

::selection {
  background-color: $primary;
  color: white;
}

[data-aos='fade-up'] {
  transform: translate3d(0, 20px, 0);
}

//  --- TYPOGRAPHY ---

.spaced {
  letter-spacing: 8px;

  //Medium 776-1440
  @media (min-width: $break-md) {
    letter-spacing: 9px;
  }

  // 1440+
  @media (min-width: $break-2xl) {
    letter-spacing: 10px;
  }
}

.semi-spaced {
  letter-spacing: 3px;

  //Medium 776-1440
  @media (min-width: $break-md) {
    letter-spacing: 4px;
  }

  // 1440+
  @media (min-width: $break-2xl) {
    letter-spacing: 5px;
  }
}

//  --- COMPONENTS ---

.tooltip {
  opacity: 1 !important;

  .tooltip-inner {
    background-color: $secondary;
  }
}

.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: $secondary !important;
}

.tooltip.bs-tooltip-left .arrow:before {
  border-left-color: $secondary !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: $secondary !important;
}

.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: $secondary !important;
}

.string {
  width: 50px;

  @media (min-width: $break-md) {
    width: 55px;
  }

  @media (min-width: $break-lg) {
    width: 60px;
  }

  margin: 50px auto 20px auto;
}

// --- LOGO ---

.logo_slogan.dark {
  .slogan-text {
    fill: $text-light;
  }
  .slogan-bar {
    fill: white;
  }
}

.logo_slogan {
  .slogan-text {
    fill: $text-body;
  }
  .slogan-bar {
    fill: $primary;
  }
}

.opacity-important {
  opacity: 1 !important;
}

//  --- MARKDOWN ---

// .markdown-body {
//   -moz-osx-font-smoothing: grayscale !important;
//   font-family: inherit !important;
//   font-size: inherit !important;
//   color: inherit !important;
//   line-height: inherit !important;
//   a {
//     color: $primary !important;
//   }
//   ul {
//     list-style: initial;
//   }
// }

// .vue-simple-markdown {
//   white-space: pre-line !important;
// }

.colourful strong {
  font-weight: inherit !important;
  color: $primary;
}

.marketing strong,
.marketing b {
  font-weight: 600 !important;
  color: $primary;
}

// --- LINKING ---

.a-keyline {
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 1px solid #e7e7e7;
  margin: 4rem auto 2rem auto;
  width: calc(100% - (50px));
  max-width: calc(1600px - (20px + 40px));
}

.linked::before {
  content: '';
  display: block;
  height: 55px;
  /* fixed header height*/
  margin: -55px 0 0;

  /* negative fixed header height */
  @media (min-width: $break-collapse) {
    height: 60px;
    /* fixed header height*/
    margin: -60px 0 0;
    /* negative fixed header height */
  }
}

// --- PAGES ---

.header {
  text-align: center;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.image-banner {
  img {
    border-radius: 6px;
    width: 100%;

    @media (min-width: $break-md) {
      width: 85%;
    }
  }
}

.section-content {
  margin-top: 1.25rem;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

// --- YOUTUBE ---

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
