// MAIN ELEMENTS
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: $sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: $text-body;

  @media (min-width: $break-s) {
    font-size: $f18;
  }
}

::selection {
  background-color: $primary;
  color: white;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title-dark;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  // -576
  font-size: $f42;
  letter-spacing: 1.2px;

  // 768-1440
  @media (min-width: $break-m) {
    font-size: $f48;
  }

  // 1440+
  @media (min-width: $break-xxl) {
    font-size: $f60;
  }
}

h2 {
  letter-spacing: 1px;

  // -578
  font-size: $f28;

  // 768 - 1440
  @media (min-width: $break-m) {
    font-size: $f32;
  }

  // 1440+
  @media (min-width: $break-xxl) {
    font-size: $f38;
  }

}

h3 {
  letter-spacing: 1px;

  //-578
  font-size: $f20;

  //Medium 776-1440
  @media (min-width: $break-m) {
    font-size: $f22;
  }

  // 1440+
  @media (min-width: $break-xxl) {
    font-size: $f24;
  }
}

h4 {

  //-578
  font-size: $f20;

  //Medium 776-1440
  @media (min-width: $break-m) {
    font-size: $f20;
  }

  // 1440+
  @media (min-width: $break-xxl) {
    font-size: $f20;
  }
}

.spaced{
  letter-spacing: 8px;
    //Medium 776-1440
    @media (min-width: $break-m) {
      letter-spacing: 9px;
    }
  
    // 1440+
    @media (min-width: $break-xxl) {
      letter-spacing: 10px;
    }
}


p {
  color: $text-body;
}

.btn {
  padding: 0.5rem 1.5rem;
}

.markdown-body {
  font-family: $sans-serif !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: $text-body!important;
  font-size: inherit!important;
}

.vue-simple-markdown{
  white-space: pre-line!important;
}

// TITLES and SUBTITLES


.title {
  margin: 0 auto;
  margin-bottom: 12px;
  text-align: center;
}



.subtitle {
  color: $subtitle-dark;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 75px;

  //XSmall -578
  font-size: 1rem;

  //Small 578-776
  @media (min-width: $break-s) {
    font-size: 1.05rem;
    max-width: 500px;
  }

  //Medium 776-992
  @media (min-width: $break-m) {
    font-size: 1.1rem;
    max-width: 500px;
  }

  //Large 992-1200
  @media (min-width: $break-l) {
    font-size: 1.15rem;
    max-width: 780px;
  }

  //XLarge 1200-1440+
  @media (min-width: $break-xl) {
    font-size: 1.25rem;
    max-width: 870px;
  }
}

//COLORS

.title-dark {
  color: $title-dark;
}

.text-primary {
  color: $primary;
}

.back-grey {
  background-color: $grey-light;
}

.back-light-red {
  background-color: $lightest-red;
}

.back-blue {
  background-color: $blue-grey;
}

.back-light-blue {
  background-color: $light-blue;
}

.btn-outline-dark {
  border-color: $grey-light;
}

.back-beige {
  background-color: $beige-grey;
}

// CUSTOM ALL PAGES

.text-transition {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

//NAVIGATION

.navbar-light .navbar-nav .nav-link {
  color: $title-dark;
  font-size: $f16;

  &:hover {
    color: $subtitle-dark;
  }
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: 700;
}

.dropdown-menu {
  padding: 0;
  position: fixed;
  left: 50%;
  transform: translateX(-45%);
}

.dropdown {
  position: initial;
}

.dropdown-item {
  padding: 0;
}

.dropdown-header {
  padding-left: 0;
}

.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item.active {
  background-color: transparent;
  color: initial;
}

.b-sidebar:not(.b-sidebar-right).slide:not(.show) {
  transform: translateY(-100%);
}


.section-content{
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.header{
  text-align: center;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  
}

.image-banner{
  img{
    border-radius: 4px;
    width: 100%;
    @media (min-width: $break-m) {
      width: 75%;
    }
  }
}


.string {
  width: 50px;
  @media (min-width: $break-m) {
    width: 55px;
  }
  @media (min-width: $break-l) {
    width: 60px;
  }
  margin: 50px auto;
}

