.index-layout {
  margin: 0 auto;
  //XSmall -578
  padding-top: 6.5rem;

  //Small 578-776
  @media (min-width: $break-s) {
    padding-top: 5rem;
  }

  //Medium 776-992
  @media (min-width: $break-m) {
    padding-top: 7rem;
  }

  //Large 992-1200
  @media (min-width: $break-l) {
    padding-top: 10rem;
  }

  //XLarge 1200-1440
  @media (min-width: $break-xl) {
    padding-top: 9rem;
  }

  //XXLarge 1440+
  @media (min-width: $break-xxl) {
    padding-top: 9rem;
  }
}

.one-section-layout {
  margin: 0 auto;
  //XSmall -578
  padding-top: 7rem;

  //XLarge 1200-1440
  @media (min-width: $break-xl) {
    padding-top: 8rem;
  }

  //XXLarge 1440+
  @media (min-width: $break-xxl) {
    padding-top: 9rem;
  }
}

.one-section-tight-layout {
  margin: 0 auto;
  //XSmall -578
  padding-top: 6rem;

  //XLarge 1200-1440
  @media (min-width: $break-xl) {
    padding-top: 7rem;
  }

  //XXLarge 1440+
  @media (min-width: $break-xxl) {
    padding-top: 8rem;
  }
}