
.container-fluid {
  max-width: 1440px;
  //XSmall -578
  padding-left: 1.875rem;
  padding-right: 1.875rem;

  //Small 578-776
  @media (min-width: $break-s) {
    padding-left: 2.9rem;
    padding-right: 2.9rem;
  }

  //Medium 776-992
  @media (min-width: $break-m) {
    padding-left: 3.925rem;
    padding-right: 3.925rem;
  }

  //Large 992-1200
  @media (min-width: $break-l) {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }

  //XL 1200-1400
  @media (min-width: $break-xl) {
    padding-left: 5.975rem;
    padding-right: 5.975rem;
  }

  //XL 1440+
  @media (min-width: $break-xxl) {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

.mobile-gutter {

  @media (max-width: $break-s) {
    margin-left: 16px;
    margin-right: 16px;
  }

}