$font: 'SS-font1';

//FONT 1

@font-face {
  font-family: 'SS-font1';
  src: url('../assets/fonts/lineto-circular-book.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SS-font1';
  src: url('../assets/fonts/lineto-circular-bookItalic.ttf');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SS-font1';
  src: url('../assets/fonts/lineto-circular-medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SS-font1';
  src: url('../assets/fonts/lineto-circular-mediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SS-font1';
  src: url('../assets/fonts/lineto-circular-bold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;\
}

@font-face {
  font-family: 'SS-font1';
  src: url('../assets/fonts/lineto-circular-boldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}