html {
  font-size: 16px;
  font-family: sans-serif;
}

@font-face {
  font-family: 'SS-font1';
  src: url('../assets/fonts/lineto-circular-book.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'SS-font1';
  src: url('../assets/fonts/lineto-circular-medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'SS-font1';
  src: url('../assets/fonts/lineto-circular-bold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'SS-font1';
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
