$coral: #ff6158;
$very-dark-blue: #0d183a;
$blue-grey: #41415a;
$blue-grey-dark: #2f2f45;
$grey-dark: #737a96;
$grey-light: #dfdfdf;
$grey-light-blue: #d7d7f5;
$beige-grey: #f5f0ee;
$white: #fff;
$light-red: #ff9590;
$lightest-red: #fff0f0;
$blue: #607aff;
$green: #0ad19f;

$primary: $coral;
$secondary: $blue;
$text-dark: $very-dark-blue;
$text-light-on-dark: $grey-light-blue;
$text-light-on-light: $grey-dark;
$text-white: $white;

$break-s: 576px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1200px;
$break-xxl: 1440px;

$break-collapse: $break-l;

// Box Shadows

.box-shadow1 {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
