$coral: #ff6158;
$very-dark-blue: #0d183a;
$blue-grey: #41415a;
$grey-dark: #737a96;
$grey-light: #dfdfdf;
$beige-grey: #f5f0ee;
$white: #fff;
$light-red: #ff9590;
$lightest-red: #fff0f0;
$blue: #5581ff;
$green: #0ad19f;

$primary: $coral;
$text-dark: $very-dark-blue;
$text-light-on-dark: $grey-light;
$text-light-on-light: $grey-dark;
$text-white: $white;

$break-s: 576px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1200px;
$break-xxl: 1440px;

$break-collapse: $break-l;
